<div class='col-md-4'>
  <h1>Login</h1>
  <div ng-show='error' class='alert alert-danger'>{{errorMessage}}</div>
  <form class='form' ng-submit='login()'>
    <div class='form-group'>
      <label>Username</label>
      <input type='text' class='form-control' name='username' ng-model='loginForm.username' required>
    </div>
    <div class='form-group'>
      <label>Password</label>
      <input type='password' class='form-control' name='password' ng-model='loginForm.password' required>
    </div>
    <div>
      <button type='submit' class='btn btn-default' ng-disabled='disabled'>Login</button>
    </div>
  </form>
  <a href='/register'>New User?</a>
</div>