<div class='row'>
  <div class='col-md-12'>
    <h1>{{ post.title | uppercase }} <small>{{ post.createdAt | date }}</small></h1>
    <p>{{ post.body }}</p>
    <p>By: {{ post.username }}</p>
  </div>
</div>