<div class='col-md-12'>
  <h1>Create a Post</h1>
  <div ng-show='error' class='alert alert-danger'>{{errorMessage}}</div>
  <form class='form' ng-submit='create()'>
    <div class='form-group'>
      <label>Title</label>
      <input type='text' class='form-control' name='title' ng-model='postCreateForm.title' required>
    </div>
    <div class='form-group'>
      <label>Body</label>
      <textarea type='textbox' class='form-control' name='body' ng-model='postCreateForm.body' required></textarea>
    </div>
    <div>
      <button type='submit' class='btn btn-default' ng-disabled='disabled'>Create</button>
    </div>
  </form>
</div>