<div class='col-md-12'>
  <h1>Posts</h1>
  <p><a href='/post/create'><button class='btn btn-default'>Create new post</button>
  <div class='row' ng-repeat="post in posts | orderBy: 'id':true">
    <div class='col-md-4'>
      <h4><a href='/post/{{ post.id }}'>{{ post.title }}</a></h4>
      <p>{{ post.body }}</p>
    </div>
  </div>
</div>